Landing to Wrangled
=====================

1. Customer
   1.1 userid-->user_id
   1.2 username-->user_name
   1.3 Remove null
2. Discount
   2.1 Remove img_link
   2.2 Remove product_link
   2.3 Remove special character from discounted_price(int)
   2.4 Remove special character from actual_price(int)
   2.5 Remove special character from discount_percentage(int)
3. Product
   3.1 id-->product_id
   3.2 Remove null in product_id
4. Rating
   4.1 Creating a rating_catagory column
	if rating>=4 --> Excellent
	elif rating>=3 and rating<4-->Best
	elif rating>=2 and rating<3-->Average
	else --> Below Average
5. Review
   5.1 id-->review_id

Wrangled to Curated
=========================
1. Discount LEFTJOIN Customer on discount.user_id==customer.user_id
2. Discount LEFTJOIN product on discount.product_id==product.product_id
3. Discount LEFTJOIN rating on discount.product_id==rating.product_id
4. Discount LEFTJOIN review on discount.review_id==review.review_id